IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "GPIO[0]" 10;
IO_PORT "GPIO[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "GPIO[1]" 11;
IO_PORT "GPIO[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "GPIO[2]" 13;
IO_PORT "GPIO[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "GPIO[3]" 14;
IO_PORT "GPIO[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "GPIO[4]" 15;
IO_PORT "GPIO[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "GPIO[5]" 16;
IO_PORT "GPIO[5]" DRIVE=8 IO_TYPE=LVCMOS18;
